services:
  backend:
    build:
      context: ./backend
    env_file: ./backend/.env
    ports:
      - "8001:8001"

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
